<div class="l-container-flex">
  <div class="wrapper">
    <div class="l-form-container">
      <div class="l-left">
        <div class="c-heading">
          <h3 class="c-heading__title">
            Sign Up
          </h3>
          <p class="c-heading__text">
            Create an account
          </p>
        </div>
        <div class="c-validation-content">
          <div class="c-error-box">
            <p class="c-validation-content__text">
              An error occurred while processing the query
            </p>
          </div>
          <div class="c-success-box">
            <p class="c-validation-content__text">
              Account created. Redirecting to login page...
            </p>
          </div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="c-register-form">
          <div class="c-register-form__group">
            <label class="c-register-form__label" for="username">
              Username
            </label>
            <input formControlName="username" class="c-register-form__input" type="text" name="username" id="username"
              autocomplete="off">
          </div>

          <div class="c-register-form__group">
            <label class="c-register-form__label" for="email">
              E-mail
            </label>
            <input formControlName="email" class="c-register-form__input" type="email" name="email" id="email"
              autocomplete="off">
          </div>

          <div class="c-register-form__group">
            <label class="c-register-form__label" for="password">
              Password
            </label>
            <input formControlName="password" class="c-register-form__input" type="password" name="password"
              id="password" autocomplete="off">
          </div>

          <div class="c-register-form__group">
            <label class="c-register-form__label" for="repassword">
              Enter password again
            </label>
            <input formControlName="repassword" class="c-register-form__input" type="password" name="repassword"
              id="repassword" autocomplete="off">
          </div>

          <div class="c-register-form__group">
            <label class="c-register-form__label">
              Account type:
            </label>
            <div class="c-register-form__radioGroup">
              <input formControlName="type" id="type_1" [value]="true" type="radio" name="type">
              <label class="c-register-form__radioLabel" for="type_1">
                Lite User
              </label>
            </div>
            <div class="c-register-form__radioGroup">
              <input formControlName="type" id="type_2" type="radio" name="type" [value]="false">
              <label class="c-register-form__radioLabel" for="type_2">
                Bussines User
              </label>
            </div>
          </div>
          <div class="c-register-form__submit">
            <button type="submit" class="c-button c-button--primary">
              Register
            </button>
          </div>
        </form>
      </div>
      <app-card-right></app-card-right>
    </div>
  </div>
</div>