<div class="l-container-flex">
  <div class="l-form-container">
    <form class="c-register-form">
      <div class="c-register-form__heading">
        <h3 class="c-register-form__title">
          SIGN UP
        </h3>
        <p class="c-register-form__text">
          Create an account
        </p>
      </div>
      <div class="c-register-form__group">
        <label class="c-register-form__label" for="username">
          Username
        </label>
        <input class="c-register-form__input" type="text" name="username" id="username">
      </div>

      <div class="c-register-form__group">
        <label class="c-register-form__label" for="email">
          E-mail
        </label>
        <input class="c-register-form__input" type="email" name="email" id="email">
      </div>

      <div class="c-register-form__group">
        <label class="c-register-form__label" for="password">
          Password
        </label>
        <input class="c-register-form__input" type="password" name="password" id="password">
      </div>

      <div class="c-register-form__group">
        <label class="c-register-form__label" for="repassword">
          Enter password again
        </label>
        <input class="c-register-form__input" type="password" name="repassword" id="repassword">
      </div>

      <div class="c-register-form__type">
        <label class="c-register-form__radioLabel">
          Account type:
        </label>
        <label class="c-register-form__radioLabel">
          <input type="radio" name="type">
          Lite User
        </label>
        <label class="c-register-form__radioLabel">
          <input type="radio" name="type">
          Bussines users
        </label>
        <button type="submit" class="c-button c-button--primary" style="text-align: center;">
          Register
        </button>
      </div>
    </form>
    <div class="c-register-content">
      <app-card-logo></app-card-logo>
      <div class="c-register-content__info">
        <h5 class="c-register-content__heading">
          Something better ! Learn from ous ;)
        </h5>
        <p class="c-register-content__text">
          Lorem ipsum dolor sit, ctetur ut minus! Ex distinctio vel facere dolorum quisquam tenetur fugiat vero!
        </p>
      </div>


    </div>
  </div>
</div>
