@import "share";
.c-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-menu__flex {
  @include responsive(medium-devices) {
    display: flex;
  }
}

.l-menu {
  padding: 1rem;
  margin-bottom: 6rem;
  @include responsive(medium-devices) {
    display: flex;
  }
}

.c-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__iconBar {
    all: unset;
    height: 25px;

    @include responsive(medium-devices) {
      display: none;
    }
  }

  &__list {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    height: 100vh;
    background: rgba($bg-list, 0.99);
    width: 75vw;
    color: $font-primary;
    text-align: right;
    overflow-y: scroll;
    z-index: 10;

    @include responsive(medium-devices) {
      position: inherit;
      height: auto;
      display: flex;
      width: 100%;
      background: inherit;
      overflow-y: inherit;
      justify-content: space-between;
    }
  }

  &__navHeading {
    background-color: $bg-menu-heading;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba($border-menu-primary, 0.2);

    @include responsive(medium-devices) {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgba($border-menu-primary, 0.2);

    @include responsive(medium-devices) {
      border: none;

      &:last-of-type {
        padding-right: 0;
      }

      &:not(:first-child):before {
        position: absolute;
        left: 0;
        content: "";
        height: 20px;
        width: 1px;
        background-color: rgba($border-menu-primary, 0.8);
      }
    }
  }

  &__link {
    font-size: 0.875rem;
    opacity: 0.85;
    text-decoration: none;
    color: $font-primary;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
      border: 0;
      outline: none;
    }
  }
}
