<div class="l-container-flex">
  <nav class="c-menu">
    <app-card-logo></app-card-logo>
    <a href="#" class="c-menu__iconBar" (click)="toogleMenu()">
      <img src="../../../assets/images/menuBar.svg" alt="toogle menu" class="c-menu__icon">
    </a>
    <ul [hidden]="isHidden" class="c-menu__list">
      <h2 class="c-menu__navHeading">MENU</h2>
      <li *ngFor="let item of itemsOfMenu" class="c-menu__item">
        <a href="#" class="c-menu__link">{{item}}</a>
      </li>
    </ul>
    <!--Trash code !? needs to be improved -->
  </nav>
  <div class="c-loginSection">
    <ul class="c-menu__list">
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Login</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Register</a>
      </li>
    </ul>
  </div>
</div>
