$font-primary: #ffffff;
$font-secondary: #000000;

$bg-list: #0f1815;
$bg-menu-heading: #172521;
$bg-gradient-primary: #09c018cc;
$bg-gradient-secondary: #2863d1cc;

$border-menu-primary: #ffffff33;
$btn-border: #ffffff;
