@import "./mediaQueries";

$font-primary: #ffffff;
$font-secondary: #000000;
$font-dark: #2b2b2b;

$bg-primary: #ffffff;
$bg-list: #0f1815;
$bg-menu-heading: #172521;
$bg-gradient-primary: #09c018cc;
$bg-gradient-secondary: #2863d1cc;

$bg-gradient-primaryDark: #3ec300;
$bg-gradient-secondaryDark: #192bc2;

$border-menu-primary: #ffffff33;
$border-courses: #eeeeee;
$btn-border: #ffffff;
