@import "variables";
.c-logo {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-right: 10px;

  &__icon {
  }
  &__title {
    text-decoration: none;
    color: $font-primary;
    margin-left: 10px;
  }
}
