@import "variables";
.c-logo {
  display: flex;
  align-items: center;
  font-size: 1rem;

  &__icon {
  }
  &__title {
    text-decoration: none;
    color: $font-primary;
    margin-left: 15px;
  }
}
