@import "variables";
@import "mediaQueries";
.l-header {
  max-width: 100vw;
  height: 550px;
  background-image: linear-gradient(135deg, rgba($bg-gradient-primary, 0.8), rgba($bg-gradient-secondary, 0.8)),
    url("../../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  // @include responsive(medium-devices) {
  //   height: 450px;
  // }
}
.l-flex-nav {
  // position: relative;
  // display: flex;
  align-items: center;
  height: 95px;
  margin-bottom: 100px;
  padding: 20px;
  @include responsive(medium-devices) {
    border-bottom: 1px solid rgba($border-menu-primary, 0.2);
    //justify-content: inherit;
  }
}
.c-header-content {
  padding: 25px;
  text-align: center;
  color: $font-primary;
  //like this or diffrent way
  &__banner {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  &__text {
    line-height: 30px;
    font-size: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  &__btn {
    font-size: 1rem;
    padding: 15px 35px;
    background: transparent;
    border-radius: 5px;
    border: solid 2px $btn-border;
    outline: none;
    color: $font-primary;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: $font-primary;
      color: $font-dark;
    }
  }
}
