@import "variables";
@import "mediaQueries";
.l-header {
  //height: 100vh;
  height: 550px;
  background-image: linear-gradient(135deg, rgba($bg-gradient-primary, 0.8), rgba($bg-gradient-secondary, 0.8)),
    url("../../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  // @include responsive(medium-devices) {
  //   height: 450px;
  // }
}
.l-flex-nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 95px;
  margin-bottom: 100px;
  @include responsive(medium-devices) {
    border-bottom: 1px solid rgba($border-menu-primary, 0.2);
    justify-content: inherit;
  }
}
.c-header-content {
  padding: 25px;
  text-align: center;
  color: $font-primary;
  //like this or diffrent way
  &__banner {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  &__text {
    line-height: 30px;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  &__btn {
    font-size: 2rem;
    padding: 12px;
    background: transparent;
    border-radius: 26px;
    border: solid 2px $btn-border;
    outline: none;
    color: $font-primary;
    cursor: pointer;
  }
}
