<footer class="l-footer">
  <div class="wrapper">
    <div class="l-grid">
      <div>
        <app-card-logo></app-card-logo>
      </div>
      <div>
        <p>Made with ❤️ by <a href="#" title="Jakub W, Kamil Z & Tomek Z">3Head Team</a></p>
      </div>
      <div>
        <ul class="l-footer-list">
          <li class="l-footer-link">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="l-footer-link">
            <a href="#">Contact</a>
          </li>
          <li class="l-footer-link">
            <a href="#">Facebook</a>
          </li>
          <li class="l-footer-link">
            <a href="#">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
