@import "share";

.l-footer {
  background-color: $font-dark;
  padding-top: 3rem;
  padding-bottom: 3rem;

  & .l-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);

    @include responsive(large-devices) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include responsive(extra-large-devices) {
      grid-template-columns: repeat(3, 1fr);
    }

    & > div {
      display: flex;
      align-items: center;

      &:first-child {
        justify-content: center;
        margin-bottom: 1.5rem;

        @include responsive(large-devices) {
          justify-content: flex-start;
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        justify-content: center;
      }

      &:last-child {
        display: none;

        @include responsive(extra-large-devices) {
          display: flex;
          justify-content: flex-end;
        }
      }

      & p {
        font-size: 0.9rem;
        color: #808080;

        & a {
          color: #808080;
          text-decoration: none;
          transition: all 0.1s ease-in-out;

          &:hover,
          &:focus {
            color: $font-primary;
            border: 0;
            outline: none;
          }
        }
      }

      & .l-footer-list {
        display: block;
        list-style: none;
        text-align: right;

        & .l-footer-link {
          margin-top: 5px;
          margin-bottom: 5px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          & a {
            font-size: 0.9rem;
            color: #808080;
            text-decoration: none;
            transition: all 0.1s ease-in-out;

            &:focus,
            &:hover {
              color: $font-primary;
              border: 0;
              outline: none;
            }
          }
        }
      }
    }
  }
}
.c-dashboard {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  justify-content: center;

  &__link {
    text-decoration: none;
    color: $font-dark;
    font-size: 0.875rem;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus {
      color: #2863d1cc;
    }
  }
}
