<main class="c-dashboard-body">
  <header class="c-dashboard-header">
    <h1>Categories</h1>
    <button (click)="showModal()" class="c-button c-button--management">Add Category</button>
  </header>
  <section class="c-dashboard-list">
    lista kategorii
    <p>
      {{message}}
    </p>
  </section>
  <section *ngFor="let categories of listOfCategories">
    <div>
      <div>
        <h5>{{categories.name}}</h5>
        <p>{{categories.description}}</p>
      </div>
      <div>
        <button (click)="deleteCategories(categories.id)">delete</button>
        <button (click)="showModal()">edit</button>
      </div>
    </div>

  </section>
</main>





<app-categories-form (hiddenEmmiter)="hideModal($event)" *ngIf="isVisible"></app-categories-form>