<section class="c-invitation">
    <div class="wrapper">
      <h3 class="c-invitation__title">
        Join & Enjoy
      </h3>
      <p class="c-invitation__text">
          Feel free to join in our little community and help us create something special!
      </p>
      <div class="c-invitation__list">
        <div class="c-invitation__item">
          <a href="#" class="c-invitation__link">
            Login
          </a>
        </div>
        <div class="c-invitation__item">
          <a href="#" class="c-invitation__link">
            Register
          </a>
        </div>
      </div>
    </div>
</section>

