@import './../../../commonStyles/variables';

.c-section-categories {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  & h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  & .c-list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 2rem;

    @include responsive(medium-devices) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @include responsive(large-devices) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include responsive(extra-large-devices) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &-item {
      display: flex;
      box-shadow: 0 0 10px rgba(0,0,0, .05);
      border-radius: 5px;
      height: 150px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .1s ease-in-out;

      &:hover,
      &:focus {
        transform: scale(1.03);
      }
    }
  }
}

.flexlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  li{
    padding-top:10px;
    margin:5px;
  }
  li img{
    width:45vw;
    height:150px;
    border-radius: 5px;
    border: 1px solid green;
  }
  p{
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: black;
    text-shadow: black 0px 0px 5px;
    position: relative;
    bottom:95px;
  }
  @media only screen and (min-width:600px)
  {
    .flexlist{
      flex-direction: row;
      }
      li img{
        width:35vw;
        height:200px;
      }
      p{
        font-size: 1.4rem;
        position: relative;
        bottom:125px;
      }
  }
  @media only screen and (min-width:1000px)
  {
    .flexlist{
      flex-direction: row;
      justify-content: space-around;
      }
      li img{
        width:20vw;
        height:200px;
      }
      p{
        font-size: 1.6rem;
        position: relative;
        bottom:125px;
      }
  }
