<div class="l-right">
    <div class="c-register-content">
        <app-card-logo></app-card-logo>
        <div class="c-register-content__info">
            <h3 class="c-register-content__heading">
                Something better. Learn from us!
            </h3>
            <p class="c-register-content__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt excepturi alias neque dolore dignissimos
                fuga
                temporibus.
                Quidem sint quae asperiores nulla, culpa accusamus neque nihil?
            </p>
        </div>
    </div>
</div>