<div class="overlay">
  <div class="c-form-content">
    <h3>Add Category</h3>
    <span>{{message}}</span>
    <form [formGroup]="addCategoriesForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title</label>
        <input formControlName="title" type="text" id="title" name="title">
        <div *ngIf="title.invalid && (title.dirty || title.touched)">
          <p *ngIf="title.errors.required">
            it's required
          </p>
        </div>
      </div>
      <div>
        <label for="description">Description</label>
        <input formControlName="description" type="text" id="description" name="description">
      </div>

      <div class="buttons">
        <button [disabled]="!addCategoriesForm.valid" class="save">save</button>
        <button type="button" (click)="hideModal()" class="cancel">cancel</button>
      </div>
    </form>
  </div>
</div>