<div class="l-container-flex">
    <div class="wrapper">
      <div class="l-form-container">
        <form class="c-login-form">
          <div class="c-login-form__heading">
            <h3 class="c-login-form__title">
              SIGN IN
            </h3>
          </div>
          <div class="c-login-form__group">
            <label class="c-login-form__label" for="login">
                Email or Username
            </label>
            <input class="c-login-form__input" type="text" name="login" id="login">
          </div>
  
          <div class="c-login-form__group">
            <label class="c-login-form__label" for="password">
              Password
            </label>
            <input class="c-login-form__input" type="password" name="password" id="password">
          </div>
  
          <div class="c-login-form__type">
            <button type="submit" class="c-button c-button--primary">
              Login
            </button>
          </div>
        </form>
        <div class="c-login-content">
          <app-card-logo></app-card-logo>
          <div class="c-login-content__info">
            <h3 class="c-login-content__heading">
              Something better ! Learn from us ;)
            </h3>
            <p class="c-login-content__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt excepturi alias neque dolore dignissimos fuga
              temporibus.
              Quidem sint quae asperiores nulla, culpa accusamus neque nihil? Deserunt ex harum incidunt minus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  