<div class="l-container-flex">
  <div class="wrapper">
    <div class="l-form-container">
      <div class="l-left">
        <div class="c-heading">
          <h3 class="c-heading__title">
            Sign In
          </h3>
          <p class="c-heading__text">
            Log in to your account
          </p>
        </div>
        <div class="c-validation-content">
          <div class="c-error-box" [hidden]="isHidden">
            <p class="c-validation-content__text" *ngIf="!loginForm.valid">
              {{validationMessage}}
            </p>
            <p class="c-validation-content__text" *ngIf="errorMessage!=null">
              {{errorMessage}}
            </p>
          </div>
        </div>
        <form [formGroup]="loginForm" class="c-login-form" (ngSubmit)="onSubmit()">
          <div class="c-login-form__group">
            <label class="c-login-form__label" for="login">
              Email or Username
            </label>
            <input formControlName="login" class="c-login-form__input" type="text" name="login" id="login"
              autocomplete="off">
            <div class="c-validBox" *ngIf="login.invalid && (login.dirty || login.touched)">
              <p class="c-validBox__info" *ngIf="login.errors.required">
                Login is required
              </p>
            </div>
          </div>

          <div class="c-login-form__group">
            <label class="c-login-form__label" for="password">
              Password
            </label>
            <input formControlName="password" class="c-login-form__input" type="password" name="password" id="password"
              autocomplete="off">
            <div class="c-validBox" *ngIf="password.invalid && (password.dirty || password.touched)">
              <p class="c-validBox__info" *ngIf="password.errors.required">
                Password is required
              </p>
            </div>
          </div>

          <div class="c-login-form__forgotpassword">
            <p class="c-login-form__text">Forgot your password? <a href="#" title="Reset password">You can reset your
                password here</a>!</p>
          </div>

          <div class="c-login-form__submit">
            <button type="submit" class="c-button c-button--primary">
              Login
            </button>
          </div>
        </form>
      </div>
      <app-card-right></app-card-right>
    </div>
  </div>
</div>