<section class="c-background">
<div class="c-login">
    <div class="c-login__leftside">
        <h2 class="c-login__title">Sign in</h2>
        <form class="c-login-form">
                <label for="login" class="c-login-form__label">
                    Email or Username
                </label>
                <input id="login" type="text" class="c-login-form__input">
                <label for="password" class="c-login-form__label">
                    Password
                </label>
                <input id="password" type="text" class="c-login-form__input">
            <button class="c-login-form__btn">Login</button>
        </form>
        <a href="#" class="c-login__link">Back to home side</a>
    </div>
    <div class="c-login__rightside" >
        <div class="c-login__logo">
            <img src="..//..//..//assets/images/logo.svg" class="c-login__icon">
            <p class="c-login_text">CRASH COURSES</p>
        </div>
        <h3 class="c-login__righttitle">It's better to be with us</h3>
        <p class="c-login__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
</section>